.jumbotron
  %h1 Hello, world!
  %p Ejemplo de Websockets para Betabeers Guadalajara
  %p
    .fa.fa-exclamation-triangle.fa-spin.text-danger
    %span.text-danger
      Este sitio web está en construcción todavía. La versión final 25/7/2014
    .fa.fa-exclamation-triangle.fa-spin.text-danger
  =link_to('https://github.com/danielRomero') do
    .btn.btn-primary.btn-lg{style: 'margin-top: 15px;'}
      .fa.fa-github
      danielRomero
  =link_to('https://twitter.com/DanielRomeroE') do
    .btn.btn-primary.btn-lg{style: 'margin-top: 15px;'}
      .fa.fa-twitter
      @danielRomeroE
.text-center
  =link_to(chat_path,class: 'btn btn-lg btn-danger btn-block') do
    Entrar