%li.left.clearfix
  .chat-body.clearfix
    .header
      %strong.primary-font Jack Sparrow
      %small.pull-right.text-muted
        %span.glyphicon.glyphicon-time
        12 mins ago
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
      dolor, quis ullamcorper ligula sodales.
  %hr