%h1.text-center Chat con WebSockets
.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
  .text-right
    %small#connected_users_count
  .panel.panel-primary
    #accordion.panel-heading
      .input-group
        .input-group-addon
          .glyphicon.glyphicon-comment
        =text_field_tag 'name_input', '', placeholder: 'Elige un nombre chulo', class: 'form-control input-sm', required: true, onkeyup: "window.websocketsExample.enable_to_send();"
        %span.input-group-btn
          #btn_connect_chat.btn.btn-warning.btn-sm.disabled{onclick: "window.websocketsExample.start()"}
            Conectar
    .panel-body
      %ul.chat#chat_messages_index
    .panel-footer
      .input-group
        =text_field_tag 'message_input', '', placeholder: 'Escribe un mensaje original', class: 'form-control input-sm', required: true, disabled: true
        %span.input-group-btn
          #btn_send_chat.btn.btn-warning.btn-sm.disabled{onclick: "window.websocketsExample.send_message($('#message_input').val())"}
            Enviar
  %small#message_status
  .text-right
    %small
      Gracias a
      %span
        =link_to('simolation', 'http://bootsnipp.com/Simolation')
      por el 
      %span
        =link_to('snippet', 'http://bootsnipp.com/snippets/featured/collapsible-chat-widget')
      de Bootstrap
:javascript
  window.websocketsExample.init("#{DOMINIO}");