-# app/views/layouts/_messages.html.haml
.flashes_container
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      .alert-dismissible{:class => "alert alert-#{name.to_sym == :notice ? "success" : "danger"}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}"
  :javascript
    setTimeout( "jQuery('.flashes_container').slideUp('fast', function(){$(this).remove();});", 3000 );